 /* Estilos para alinhar o parágrafo ao centro */
 h1 {
    text-align: center;
    color: white;
    font-size: 40px;
}

header {
    height: 50px;
    background-color: #363636;
}

body {
    background-color: white;    
}

p {
    text-align: left;
    font-family: Arial, Helvetica, sans-serif;
}