*{
    margin: 0;
    padding-left: 10px;
    padding-right: 10px;
    box-sizing: border-box;
    font-family: sans-serif;    
}


 h1 {
    text-align: center;
    color: white;
    font-size: 40px;
}

header {
    height: 55px;
    width: 100%;
    background-color: rgb(0, 0, 0);
}

.botoes-menu{
    display: flex; 
    cursor: pointer;            
}

.botao-principal{
    font-size: 25px;
    color: white;
    font-family: Arial, Helvetica;
    font-weight: bold;
    background-color: transparent;
    margin-top: 15px;
    border: none;
    cursor: pointer; 

}
.botao {   
    
    display: flex;
    color: white;
    background-color: transparent;
    border: none;    
    margin-left: 20px;
    margin-top: 20px;
    font-weight: bold;
    cursor: pointer; 
    
       
}   
.container-pesquisa{
    display: flex;
    justify-content: flex-end; /* Alinha o conteúdo à direita */
    margin-top: -38px;     
 }
 .input{
    border-radius: 6px;
    height: 40px;
    border: none;
    background-color: rgb(32, 32, 32);
    color: white;
    font-weight: bold;
    border-radius: 6px 0 0 6px;
    }
    .botao-pesquisar{
        background-color: gray;
        color: white;       
        cursor: pointer;
        border-radius: 0 6px 6px 0;
        border: none;
  
    }


body {
    background-color: rgb(37, 37, 37);       
    width: 100%; 
    color: white;
}

p {
    text-align: left;
    font-family: Arial, Helvetica, sans-serif;
}